@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');


  html{
  font-family:'Montserrat', sans-serif;;
  }
  
  .comment-input{
    resize: both;
    width:300px;
    height:150px;
  }

  .auth{
    text-align: center;
    margin-bottom: 30px;
    color:#333;
  }
  
  form.form-group {
    background: #fff;
    padding: 30px;  
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
   .form-btn {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;  
    margin-bottom: 10px;
    background: #333;
    color: #fff;
    cursor: pointer;
  }

  .form-btn:hover {
    background: #111;
    }

  a {
    text-decoration: none;
    color: #333;
  }

  .form-control-file {
    font-size: 1rem;
    color: #333;
    background: #eee;  
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;  
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-control-file:hover {
    background: #ddd; 
  }

  .errorlist {
    color: red;
    background-color: #ffe6e6; 
    padding: 10px; 
    font-family: "Arial", sans-serif; 
    font-size: 16px;
  }

  .searchbox { 
    width:300px;
    height:35px;
    margin-top: 10px;
  }

  .searchbutton { 
    height:35px;
    margin-top: 10px;
  }

  .caret{
    color:white;
  }

  .post-card {
    background-color: #fff;
    border: 1px solid #ddd;        
    padding: 20px;
    margin-bottom: 30px;
    transition: box-shadow 0.3s;
  }
  
  .post-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
  }
  
  .btn-read {
    opacity: 0;
    transition: opacity 0.3s; 
    border-radius:20px;
  }
  
  .post-card:hover .btn-read {
    opacity: 1;
  }
  
  .author-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author a {
    color: #2979ff;
  }   
  
  .post-title {
    font-size: 20px; 
    font-weight: 600;
    margin: 0;
  }
  
  .post-excerpt {    
    margin: 10px 0 0;       
    color: #555;
    font-size: 15px;
  }
  
  .post-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .post-title {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
  }

  .container {
    padding-top: 10px;
  }
   
  .table-div{
    padding-top:10px ;
  }
  table {
    width: 100%;
    margin: 0 auto;
    color: #000;
    text-align: center;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
  }
  
  th {
    background-color: #fff;
  }
  
  td {
    background-color: #eee;
  }
    
  .float{
    position:fixed;
    bottom:50px;
    color: white;
    text-align:center;
    border-radius:20px;
  }

  .upvote-count {
  font-size: 20px;
  font-weight: bold;
  color: black;
  }

  footer {
    color: white;
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  footer p {
    float: right;
  }

  footer a{
    color:skyblue
  }

  .container-fluid-padd{
    padding-top:80px;
    padding-bottom:80px;
  }

  .modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }
  
  .modal:target {
    visibility: visible;
    opacity: 1;
  }
  
  .modal__content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
  }
  
  .modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
  }