{% extends 'base.html' %}

{% block head %}Sign Up {% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'signup' %}" class="form-group" enctype="multipart/form-data">
      <h3 class="auth">Sign Up </h3>
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit" class="btn btn-dark form-btn">Submit</button>
      <linebreak>
      <p>If you have already Registered, <a href="{% url 'signin' %}">Sign in</a>.</p>
    </form>
    </div>
  </div>
</div>
{% endblock%}